/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: blue;
  font-family: Georgia;
}

h2 {
  /* page-break-before: always; */
}
